.mainContainer {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.cardStyle {
  max-width: 720px;
  width: 100%;
}

.spaceStyle {
  width: 100%;
}

.typographyTitle {
  margin-bottom: 8px;
}

.typographyParagraph {
  margin-bottom: 0px;
}
