.card {
  margin-bottom: 16px;
}

.fieldRow {
  display: flex;
  margin-bottom: 8px;
}

.codeInput {
  width: 120px;
}

.suffixInput {
  width: 100px;
}

.selectType {
  width: 120px;
}

.helperText {
  display: block;
  margin-bottom: 8px;
}
